* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.w {
    width: 980px;
    margin: 0 auto;
}
i {
    font-style: normal;
}
a {
    text-decoration: none;
}
.header {
    position: relative;
    height: 56px;
}
.header ul li {
    float: left;
    margin-right: 15px;
    list-style: none;
    font-size: 13px;
    line-height: 56px;
}
.header ul li .one:hover {
    position: absolute;
    bottom: 0px;
    width: 500px;
    height: 200px;
    z-index: 1;
}
.header ul li a {
    text-decoration: none;
    color: black;
}
.header ul li a span {
    margin-left: 25px;
    font-size: 30px;
    color: #00a1d6;
}
.header ul li a .phone {
    font-size: 18px;
}
.header ul li a img {
    height: 32px;
    width: 32px;
    border: 1px #c0c0c0 solid;
    border-radius: 50%;
    vertical-align: middle;
}
.header ul .bilibili-nav-search {
    float: left;
    width: 350px;
    height: 36px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    background-color: #fff;
}
.header ul .bilibili-nav-search input {
    width: 300px;
    height: 36px;
    background-color:#f4f4f4;
    padding-left: 15px;
    border: 1px #e7e7e7 solid;
    color: #7c7c7c;
}
.header ul .bilibili-nav-search button {
    width: 50px;
    height: 36px;
    margin-top: 1px;
    background-color: #e7e7e7;
    border: 1px #e7e7e7 solid;
}
.header ul .bilibili-nav-tougao a {
    display: inline-block;
    width: 114px;
    height: 36px;
    margin-top: 10px;
    line-height: 36px;
    text-align: center;
    background-color: #fb7299;
    border-radius: 2px;
    color: #fff8fa;
}
.bilibili-dec {
    width: 100%;
    margin-top: -7px;
}
.bilibili-line-top {
    position: relative;
    height: 58px;
}
.bilibili-line-top .line-top {
    height: 29px;
    border-bottom: 1px #dddddd solid;
}
.bilibili-line-top .line-top-center {
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -57px;
    height: 58px;
    width: 114px;
    line-height: 58px;
    text-align: center;
    font-size: 38px;
    font-family: "PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif";
    color: #000000;
    background-color: #fff;
}
.register-center {
    height: 458px;
}
.register-center .regi-cen {
    position: relative;
    height: 398px;
    width: 420px;
    margin: 60px auto;
    background-color: #fff;
}
.register-center .regi-cen input {
    width: 100%;
    height: 40px;
    border: 1px #dcdfe6 solid;
    border-radius: 4px;
    padding-left: 15px;
}
.register-center .regi-cen input:hover {
    border: 1px #c0c4cc solid;
}
.register-center .regi-cen input::placeholder {
    color: #c0c4cc;
}
.register-center .regi-cen .space {
    position: relative;
    width: 100%;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
}
.register-center .regi-cen .country {
    display: inline-block;
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: #c0c9db;
    line-height: 40px;
    text-align: left;
    background-color: #4f4f4f;
    border-radius: 4px;
}
.register-center .regi-cen .country .countryone {
    position: relative;
    float: left;
    width: 132px;
    height: 40px;
    background-color: #fff;
    border-radius: 4px 0 0 4px;
    border: 1px #dcdfe6 solid;
}
.register-center .regi-cen .country .countryone .xia {
    position: absolute;
    float: left;
    right: 5px;
    top: 15px;
    width: 7px;
    height: 7px;
    border: 1px #dacfce solid;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
}
.register-center .regi-cen .country .countryone .xia:hover {
    border: 1px #dacfce solid;
    border-right: none;
    border-bottom: none;
}
.register-center .regi-cen .tele {
    float: left;
    width: 289px;
    height: 100%;
    margin-left: -1px;
    border-radius: 0 4px 4px 0 ;
    border: 1px #dcdfe6 solid;
}
.register-center .regi-cen .space input {
    position: absolute;
    height: 10px;
    width: 10px;
    top: 15px;
    left: 0;
}
.register-center .regi-cen .space i {
    margin-left: 20PX;
}
.register-center .regi-cen .space i a {
    color: #00a1d6;
}
.register-center .regi-cen form>button {
    width: 100%;
    height: 40px;
    border-radius:4px;
    border: 1px #d9d9d9 solid;
    color:#b8b8b8;
    line-height: 40px;
    text-align: center;
    background-color: #f5f5f5;
}
.register-center .regi-cen .have {
    position: absolute;
    font-size: 12px;
    color: #00a1d6;
    bottom: 0px;
    right: 0px;
}
.register-center .regi-cen .yanzheng {
    position: relative;
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: #c0c9db;
    line-height: 40px;
    border: 1px #dcdfe6 solid;
    border-radius: 4px;
    padding-left: 15px;
}
.register-center .regi-cen .yanzheng button {
    position: absolute;
    right: 0;
    width: 130px;
    height: 40px;
    color: #fff;
    background-color: #00a1d6;
    border: 1px #00a1d6 solid;
    border-radius: 4px;
}
.register-center .regi-cen .yanzheng button:hover {
    background-color: #33b4de;
    border-color: #33b4de;
}
.footer {
    height: 130px;
    background-color: #f6f9fa;
}
.footer .o {
    height: 130px;
}
.footer .o .zhanweizi {
    height: 30px;
}

.footer .o .foot-head {
    width: 100%;
    height: 100px;
    background-color: #f6f9fa;
}
.footer .o .foot-head>div {
    float: left;
    height: 100%;
    width: 326px;
    border-right: 1px #e5e9ef solid;
}
.footer .o .foot-head .bilibili ul {
    float: left; 
    margin-right:25px;
}
.footer .o .foot-head .bilibili ul li {
    font-size: 14px;
    list-style: none;
    margin-bottom: 10px;
}
.footer .o .foot-head .chuansong ul {
    float: left;
    margin-right: 25px;
}
.footer .o .foot-head .chuansong .bian {
    margin-left: 30px;
}
.footer .o .foot-head .chuansong ul li {
    font-size: 14px;
    list-style: none;
    margin-bottom: 10px;
}
.footer .o .foot-head .therepic {
    border: none;
    font-size: 13px;
}
.footer .o .foot-head .therepic>div {
    float: left;
    margin: 10px 20px 10px 20px;
    width: 65px;
    height: 80px;
    text-align: center;
    background-color: #f6f9fa;
}
.footer .o .foot-head .therepic .therepic-one .appdownload {
    height: 65px;
    width: 60px;
    background: url(images/icons.png) -1022px -195px;
} 
.footer .o .foot-head .therepic .therepic-two .snaweb {
    height: 65px;
    width: 60px;
    background: url(images/icons.png) -1022px -322px;
}
.footer .o .foot-head .therepic .therepic-there .wechat {
    height: 65px;
    width: 60px;
    background: url(images/icons.png) -1022px -65px;
}
.footer .o .foot-head ul li:first-child{
    color: #99a2b6;
}
